@import "../abstracts/variables";


nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 78px;
  background: $color-primary;
  z-index: 100;
}

.liste {
  list-style-type: none;
  background: $color-primary;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.items {
  margin: 0 15px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
}

.btn-nav {
  right: 10px;
  background: transparent;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;
  display: none;
}


.btn-langage {
  position: fixed;
  top: 25px;
  left: 98%;
  z-index: 300;
  background: transparent;
  color: $color-white;

  

}

.btn-tools {
  position: fixed;
  z-index: 300;
  top:25px;
  left:20px ;
  background: transparent;
  color:white;

}

@media screen and (max-width: 600px) {
    .liste {
       flex-direction: column;
       height: 250px;
    }
    .items:nth-child(1){
      border-top: 1px solid #fff;
      margin-top: 50px;
    }
    .items {
      height: 50px;
      width: 100%;
      border-bottom: 1px solid #fff;
      line-height: 50px;
      text-align: center;
    }
    .btn-nav {
      display: flex;
      position: fixed;
      left: 45%;
      top:25px;
    }

    .btn-langage {
      position: fixed;
      left:340px;
    }

  
};