@import "../abstracts/variables";

.contact__container {
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.job {
display: flex;
flex-direction: column;
text-align: center;
padding-bottom: 20px;


}

.contact__container a {
  width: 5rem;
  aspect-ratio: 1/1;
  color: white;
  background:$color-primary;
  display: grid;
  place-items: center;
  font-size: 2rem;
  border: 2px solid transparent;
  border-radius: $border-radius-1
}

.contact__container a:hover {
  background: transparent;
  border-color: $color-primary;
  color:$color-primary;
  transform: translateY(-0.5rem)
}


/*RESPONSIVE PHONE */
@media screen and (max-width: 600px) {
  .contact__container {
    gap: 1.5rem;
  }

}