@import "../abstracts/variables";


.services__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 4rem;
}


.card.service {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.service__icon {
  background: $color-primary;
  padding: 0.6rem;
  border-radius: $border-radius-3;
  font-size: 1.5rem;
  color:$color-white;
  transition: $transition;

}


.service:hover .service__icon {
  background: $color-light;
  color:$color-primary
}


.service h4 {
  margin-bottom: 0.6rem;
}


.outil {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding-top: 50px;
  transition: $transition;
}

.title-outil {
  padding-top: 40px;
}


.outil img:hover {
  background: transparent;
  transform: translateY(-0.5rem);
}
/* RESPONSIVE TABLETS */

@media screen and (max-width: 1024px) {
  .services__container{
    gap:1.5rem;
  }
}


/*RESPONSIVE MOBILE */


@media screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .card.service {
    gap: 1.2rem
  }
}