@import "../abstracts/variables";


html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 0.9rem
}


/*GENERAL CONTAINER CLASS */

.container  {
  width: ;

}